/* police */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');





.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }





/* position of the nav bar */
.nav
{ 
text-align: center;

}


.nav,.icons,
{
    display: inline;
    
}

.icons, .pic
{
    display: inline;
    height:80px;
    width: 100px;   
    padding:10px;
}
/* position of the nav bar */

.box

{
    font-family: 'Oswald', sans-serif;
  
    color:white;
}

.header
{
    text-align: center;
   
   
}


.slider
{
    text-align: center;
}


h1

{
    text-align:center;
    color: red;
    font-size: 45pt;
    font-family: 'Nosifer', cursive;
    letter-spacing: 8px;
}


h2
{
    color:white;
}

h3
 { 
    color:#F77218;
    font-family: 'Roboto', sans-serif;
}

a
{
  
  color: white;
  font-family: 'Roboto', sans-serif;
}

p{
    color:white;
    font-family: 'Roboto', sans-serif;
}

img
{
    text-align: center;
}

.affiche 
{
    float:left;
    font-family: 'Roboto', sans-serif;
}

.picaffiche
{
    height:600px;
    width: 400px;
}

.center
{
   
    padding-left: 200px;
    margin-right: 200px;
    width: 700px;
    font-family: 'Roboto', sans-serif;
}

.center, .trailer
{
   display: inline-block;
   text-align: center;
   padding:auto;
   margin: auto;

}

.trailer
{
    
    text-align: center;
    padding:auto;
    margin: auto;

}

.playlist
{
    
    display: inline-block;
    float: right;
    width: 300px;
   
}

.playlist, .playlist1
{
    display: inline;
    width: 300px;
    
}

.avis
{
   
    widows: 300px;
    height: 200px;
    font-family: 'Oswald', sans-serif;
 
}

.textarea
{
    text-align:center;
    resize: none;
    
}


.input
{
    color:#F77218;
    text-align:center;
}

.button{
   text-align:center;
   padding-top:10px;
   padding-bottom: 10px;
}

.imgavis
{
    float: right;
    text-align: center;
}
////////////////////
.typewriter p {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }